.MuiTabs-root {
  min-height: 40px;
}

.MuiTabs-root .MuiTabs-indicator {
  height: 2px;
  border-radius: 2px;
  background-color: var(--color_01);
}

.MuiTabs-root .MuiTabs-flexContainer {
  gap: 0;
}

.MuiTab-root {
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 4px 4px 0 0;
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-3);
  border-bottom: 1px solid var(--border-2);
}

.MuiTab-root.Mui-selected {
  color: var(--color_01);
  background-color: var(--btn-bg-3-hover);
  border-bottom-color: var(--color_01);
}

.MuiTab-root:hover {
  background-color: var(--btn-bg-3-hover);
}
