.error_page {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.error_page .error_code {
  padding: 20px;
}
.error_page .error_code .icon {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--color_01);
}
.error_page .error_code .icon:before,
.error_page .error_code .icon:after {
  content: "";
  position: absolute;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
}
.error_page .error_code .icon:before {
  top: 27px;
  width: 3px;
  height: 0;
  border-radius: 2px;
  animation: warnCheck1 0.4s forwards ease-out;
}
.error_page .error_code .icon:after {
  top: 51px;
  width: 4px;
  height: 0;
  border-radius: 50%;
  animation: 0.2s warnCheck2 0.5s forwards ease-out;
}
@keyframes warnCheck1 {
  0% {
    height: 0;
  }
  100% {
    height: 21px;
  }
}
@keyframes warnCheck2 {
  0% {
    height: 0;
  }
  100% {
    height: 4px;
  }
}
.error_page .error_code .txt_01 {
  font-size: 118px;
  font-weight: 700;
  line-height: 1;
}
.error_page .error_code .txt_02 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
.error_page .error_msg {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}
.error_page .error_msg .txt_01 {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 500;
}
