
/* footer */
#footer {
  position: relative;
  width: 100%;
  padding: 15px 0;
  background: #fff;
  border-top: 1px solid #e2e5eb;
}
#footer .inner {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
#footer .footer_info {
  display: flex;
  align-items: center;
}
#footer .footer_info .desc {
  font-size: 14px;
}
